body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.contact {
    text-align: center;
}

.contact h2 {
    color: #343a40; /* Dark color of your choice */
}

.contact p, .contact a {
    display: inline-block;
    margin: 5px;
}

.contact a {
    color: #007BFF; /* Blue color for links */
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #343a40;
    text-align: center;
}

.work-experience,
.personal-projects,
.technical-writing,
.soft-skills {
    margin-top: 20px;
}

.work-experience h3,
.personal-projects h3,
.technical-writing h2,
.soft-skills h2 {
    color: black;
}

.experience,
.project {
    margin-bottom: 20px;
}

.technical-writing a {
    color: #007BFF;
}

.soft-skills ul {
    list-style-type: none;
    padding-left: 15px;
}

.soft-skills li {
    margin-bottom: 10px;
}

.technical-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.technical-skills h2 {
    grid-column: span 2; 
    color: #343a40;
}

.technical-skills p {
    margin: 0; 
}

.work-experience h3,
.personal-projects h3 {
    margin-bottom: 5px; 
}

.work-experience p,
.personal-projects p {
    font-style: italic;
    margin-top: 5px; 
}

.soft-skills em::before {
    content: "\2022"; /* Unicode character for a bullet point */
    margin-right: 5px; /* Add some space between the bullet point and the text */
}
